@charset "utf-8";

header {
    background-image: url(images/shibuya.jpg);
    background-repeat: no-repeat
    background-size: contain;
    background-position: center ;
    height: 600px;
   
}

.photo {
    text-align: center;
    margin-top: 120px;
    
}